@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300;400;600&display=swap');

:root {
  --clr-neutral-dark: hsl(207, 19%, 5%);
  --clr-neutral: hsl(0, 0%, 100%);
  --clr-accent: hsl(142, 90%, 61%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  background: var(--clr-neutral-dark);
  color: var(--clr-neutral);
  font-family: 'IBM Plex Mono', monospace, sans-serif;
}

.container {
  margin: 0 auto;
  padding: 2rem;
  max-width: 75ch;
}

.result,
.title {
  text-align: center;
}
